# Ignorisanje kompajliranih izvršnih fajlova
MSMS
unit_tests/coverage/cmd_line
*.out
*.o

# Ignorisanje LCOV izveštaja
*.gcno
*.gcda
*.gcov

# Ignorisanje HTML izveštaja generisanih od strane LCOV-a
out/


# Ignorisanje build foldera unutar unit_tests
unit_tests/build/
unit_tests/build/*
